@import '_vars';
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 7em;
        font-size: 2.5em;
        span {
            margin-top: 0.3em;
            display: block;
            width: 1em;
            height: 0;
            border: 1px solid $main-color;
        }
    }
    .contactForm {
        width: 60%;
        display: flex;
        align-content: center;
        flex-direction: column;
        &__section-header {
            width: 40%;
            position: relative;
            left: -10%;
            hr {
                margin: -0.7em auto 1em auto;
            }
        }
        &__label--required {
            span {
                color: red;
            }
        }
        label {
            display: block;
            width: 100%;
        }
        input,
        select,
        textarea {
            margin-bottom: 1em;
            &.invalid {
                border: 2px solid red;
            }
        }
        &__split-group {
            display: flex;
            justify-content: space-between;
            &>span {
                width: 48%;
                select,
                input {
                    width: 100%;
                }
            }
        }
        &__submit {
            font-family: $font;
            font-weight: 600;
            padding: 0.5em 1em;
            transition: 0.5s ease;
            margin: 1em 0;
            width: 14%;
            background-color: #fcfcfc;
            border: 1px solid #1E344D;
            color: #1E344D;
            align-self: flex-end;
            &--disabled {
                background-color: #E4E4E4;
                border: 1px #ccc solid;
                // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                color: #979797;
                pointer-events: none;
            }
            &:hover {
                background-color: #1E344D;
                border: 1px solid #1E344D;
                color: #fcfcfc;
            }
            &:active {
                background-color: #3A6494;
                border: 1px solid #3A6494;
                color: #fcfcfc;
            }
        }
    }
}

@media (max-width:850px) {
    .contact {
        .contactForm {
            &__split-group {
                flex-direction: column;
                &>span {
                    width: 100%;
                }
            }
            &__submit {
                width: 30%;
            }
        }
    }
}

@media (max-width: 480px) {
    .contact {
        .contactForm {
            &__section-header {
                left: 0;
            }
            width: 80%;
        }
    }
}