@import '_vars';
footer {
    height: 5em;
    background-image: url("/assets/header-bg.png");
    clip-path: polygon(0 100%, 100% 100%, 100% 25%, 94% 13%, 86% 30%, 72% 37%, 55% 30%, 45% 15%, 33% 34%, 14% 8%, 0 36%);
}