@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import '_vars';
//
* {
    font-family: $font;
}

body {
    margin: 0;
    background-color: darken(#fff, 2%);
}

.pre-nav {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.7s ease;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    margin: 0 auto 7em auto;
    &__logo {
        margin-top: -10px;
        width: 60px;
        height: 60px;
    }
    &__navItem {
        flex-shrink: 0;
        margin: 0 1em;
        &:first-child {
            background-color: #C62626;
            padding: 3em 1em 1em 1em;
            position: relative;
            top: -3em;
        }
        &:last-child {
            background-color: #4373AB;
            height: 1em;
            padding: 0.5em;
            position: relative;
            top: -0.5em;
        }
    }
    &__toggle {
        display: none;
    }
    ul {
        color: white;
        list-style-type: none;
        display: flex;
    }
}

.main-header {
    background-color: $main-color;
    background-image: url("/assets/header-bg.png");
    padding: 2em 0 5em 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 88%, 89% 96%, 81% 99%, 61% 94%, 47% 85%, 32% 96%, 11% 78%, 0 100%);
    text-align: center;
    color: white;
    margin-bottom: 3em;
    &__text {
        margin: 0;
        font-size: 6em;
        text-shadow: $flat-shadow;
    }
    &__subtext {
        font-size: 2rem;
        margin-bottom: 5em;
        font-weight: 300;
    }
}

@media (max-width:1100px) {
    .pre-nav {
        max-height: 0px;
        display: block;
        list-style-type: none;
        text-align: center;
        background-color: #333;
        color: white;
        .pre-nav__navItem {
            display: block;
            padding: 0.5em 0;
            &:nth-child(2n) {
                background-color: #555;
            }
        }
        &.pre-nav--active {
            max-height: 9999px;
        }
    }
    .main-header {
        padding: 3em 0 2.5em 0;
        &__subtext {
            margin-bottom: 2.5em;
        }
    }
    .navigation {
        margin: 0 auto 2em auto;
        &__logo {
            margin-top: -20px;
            width: 55px;
            height: 55px;
        }
        ul {
            display: none;
        }
        &__toggle {
            transition: 0.5s;
            display: block;
            position: relative;
            top: -5px;
            right: 10px;
            background-color: #214084;
            height: 2.5em;
            width: 4em;
            border: 2px lighten(#214084, 15%) solid;
            border-radius: 0.3em;
            box-shadow: $flat-shadow;
            transform: translateZ(0);
            backface-visibility: hidden;
            &--icon {
                color: lighten(#274363, 5%);
                line-height: 1.25em;
            }
            &:focus {
                outline: 0;
            }
            &:hover {
                background-color: darken(#214084, 5%);
                box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
            }
        }
    }
}

@media (max-width:850px) {
    .main-header {
        margin-bottom: 2em;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 91% 90%, 86% 96%, 73% 100%, 51% 96%, 36% 89%, 23% 98%, 8% 88%, 0 100%);
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .main-header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 94% 91%, 88% 96%, 73% 100%, 53% 97%, 42% 90%, 31% 100%, 11% 91%, 0 100%);
    }
    .navigation {
        margin: 0 auto 1em auto;
        &__logo {
            margin-top: -10px;
            width: 50px;
            height: 50px;
        }
        ul {
            display: none;
        }
        .menu-active {
            width: 30%;
        }
    }
    .main-header {
        padding: 2em 0 1em 0;
        &__text {
            font-size: 4.5em;
        }
        &__subtext {
            font-size: 1.5em;
        }
    }
}