@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import '_vars';
//
* {
    font-family: $font;
}

body {
    margin: 0;
    background-color: $bg-color;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    margin: 0 auto 7em auto;
    &__logo {
        margin-top: -10px;
        width: 60px;
        height: 60px;
    }
    &__navItem {
        flex-shrink: 0;
        margin: 0 1em;
        &:first-child {
            background-color: #C62626;
            padding: 3em 1em 1em 1em;
            position: relative;
            top: -3em;
        }
        &:last-child {
            background-color: #4373AB;
            height: 1em;
            padding: 0.5em;
            position: relative;
            top: -0.5em;
        }
    }
    &__toggle {
        display: none;
    }
    ul {
        color: white;
        list-style-type: none;
        display: flex;
    }
}

.main-header {
    background-color: $main-color;
    padding: 2em 0 5em 0;
    // clip-path: $path;
    text-align: center;
    color: white;
    box-shadow: inset 0 -5px 6 rgba(0, 0, 0, 1);
    margin-bottom: 3em;
    &__text {
        margin: 0;
        font-size: 6em;
        text-shadow: $flat-shadow;
    }
    &__subtext {
        font-size: 2rem;
        margin-bottom: 5em;
        font-weight: 300;
    }
}

@media (max-width:1100px) {
    .main-header {
        padding: 3em 0 2.5em 0;
        &__subtext {
            margin-bottom: 2.5em;
        }
    }
    .navigation {
        margin: 0 auto 2em auto;
        &__logo {
            margin-top: -20px;
            width: 55px;
            height: 55px;
        }
        ul {
            display: none;
        }
        .menu-active {
            display: block;
            position: absolute;
            z-index: 999;
            width: 15%;
            background-color: $main-color;
            border: 1px solid darken($main-color, 10%);
            right: 2%;
            top: 14%;
            padding: 0;
            margin: 0;
            li {
                top: 0;
                background-color: transparent;
                padding: 0.7em 0;
                display: block;
                margin: 0;
                background-color: $main-color;
                &:not(:last-child) {
                    border-bottom: 1px solid darken($main-color, 10%);
                }
            }
        }
        &__toggle {
            display: block;
            position: relative;
            top: -5px;
            right: 10px;
            background-color: darken(#274363, 10%);
            height: 2.5em;
            width: 4em;
            border: 2px lighten(#274363, 10%) solid;
            border-radius: 0.3em;
            box-shadow: $flat-shadow;
            &--icon {
                color: lighten(#274363, 10%);
                line-height: 1.25em;
            }
            &:focus {
                outline: 0;
            }
        }
    }
}

@media (max-width:850px) {
    .main-header {
        margin-bottom: 2em;
    }
    .navigation {
        .menu-active {
            width: 20%;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .navigation {
        margin: 0 auto 1em auto;
        &__logo {
            margin-top: -10px;
            width: 50px;
            height: 50px;
        }
        ul {
            display: none;
        }
        .menu-active {
            width: 30%;
        }
    }
    .main-header {
        padding: 2em 0 1em 0;
        &__text {
            font-size: 4.5em;
        }
        &__subtext {
            font-size: 1.5em;
        }
    }
}