@import '_vars';
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 6em;
        font-size: 2.5em;
        span {
            margin-top: 0.3em;
            display: block;
            width: 0.5em;
            height: 0;
            border: 1px solid $main-color;
        }
    }
    &__content {
        transition: all 0.9s cubic-bezier(0.73, 0.07, 0.19, 0.9);
        max-height: 750px;
        background-color: darken(#F5F5F5, 2%);
        width: 100%;
        box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.4), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        &--active {
            max-height: 9000px;
        }
    }
    &__item {
        display: block;
        flex-shrink: 0;
        width: 45%;
        margin: 1% 2%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        img {
            width: 100%;
            display: block;
        }
    }
    &__collapse-btn {
        border: 0;
        background-color: #333;
        color: white;
        padding: 10px 25px;
        border-radius: 0 0 100px 100px;
        i {
            transition: 0.5s cubic-bezier(0.73, 0.07, 0.19, 0.9);
            transform: rotate(270deg) scale(2) translateZ(0);
            perspective: 1000;
            backface-visibility: hidden;
        }
        &:focus {
            outline: 0;
        }
        &--active {
            i {
                transform: rotate(90deg) scale(2) translateZ(0);
            }
        }
    }
    margin-bottom: 3em;
}

@media (max-width:850px) {
    .portfolio {
        &__item {
            width: 90%;
        }
    }
}